.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

   
}
.post{
    grid-area: 1 / 1 / 2 / 6;
    text-align: center;
}
.post-date{
    grid-area: 1 / 1 / 2 / 2; 
    text-align: center;

}