.header{
    background-color:var(--main-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1.title{   
    padding:0;  
    font-size: 5em;
    font-family: var(--main-font);
    color: white;
}